.App {
  text-align: center;
  background-color: azure;
  width: 50%;
  height: 100%;
  border: solid 1px black;
  padding-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .count {
    animation: rotate infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  display: inline-block;
  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: aquamarine;
  background-color: bisque;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #282c34;
  width: 100px;

}

body{
  margin-left: 30%;
  background-color: cornflowerblue;
}